{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Welcome to CrimsonBoard {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome to CrimsonBoard</h1>
    <div>
      <nav>
          <ul>
              <li><a href="/home">Home</a></li>
              {% if user.is_authenticated %}
                  Hi {{ user.username }}!
                  <li><a href="/logout">Logout</a></li>
              {% else %}
                  <li><a href="/login">Login</a></li>
                  <li><a href="/register">Register</a></li>
              {% endif %}
          </ul>
      </nav>
      
      <div class="container">
          {% block content %}
          {% endblock %}
      </div>

      <script src="{% static 'js/main.js' %}"></script>
    </div>
</body>
</html>